html {

    background: url('./technical-drawings.jpg') bottom center;
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
.cell {
    border: 0.1px;
    

  }
  body{
    display: block;
    margin: 8px;
  }
 .gridRow{
    height:30px;
} 
#headerContainer{
    width: 55vw;
    margin: auto;
    box-shadow: 4px 6px 16px 3px rgba(0, 0, 0, 0.55);
    padding-bottom: 1em;
    margin-bottom: 1em;
}
button{
    position: absolute;
    right: 460px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;

    font-size: 10px;
    
}
#container {
    margin-top: 1em;
    margin: auto;
    display: grid;
    height: 65vh;
    width: 55vw;
    background-color: white;
    box-shadow: 4px 6px 16px 3px rgba(0, 0, 0, 0.55);
}
h1{
    text-align: center;
    margin: auto;
    width: 40%;
    color:maroon;
}
#rainbow{
    margin-bottom: 2px;
}
